body
{
	background-image: url("https://media.istockphoto.com/photos/abstract-background-wallpaper-picture-id952039286?b=1&k=20&m=952039286&s=170667a&w=0&h=LmOcMt7FHxFUAr2bOSfTUPV9sQhME6ABtAYLM0cMkR4=");
background-size: cover;
color:aliceblue;
font-family: playball;
}

#game_name {
font-size: 45px;
color: mediumorchid;
font-weight: 900;
}

	.login_div1 , .login_div2
	{
		background: plum;
		padding: 10px;
		float: none;
		border-radius: 15px;

	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
color: blueviolet;
}
